.notFound {
    margin: 50px auto;
    text-align: center;
    margin-bottom: 16px;
}

.notFound h1 {
    margin-bottom: 0;
    font-size: 24px;
    margin-top: 30px;
    font-weight: bold;
}

.notFound p {
    color: #525252;
    margin-top: 8px;
    margin-bottom: 30px;
    font-size: 16px;
}

.innerSec {
    text-align: center;
}

.goToHome {
    background: #0277ff;
    color: #fff;
    width: auto;
    border-radius: 50px;
    border: none;
    padding: 14px 30px;
    -webkit-box-shadow: 0 2px 10px #83bdff;
    box-shadow: 0 2px 10px #83bdff;
    margin-top: 0px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.goToHome:hover,
.goToHome:focus,
.goToHome:active {
    background: #F27C2C;
    color: #fff;
}


.shine::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 22px;
    background-color: hsla(0, 0%, 100%, .2);
    transform: skewX(-15deg);
    opacity: .6;
    filter: blur(5px);
    left: -10%;
    top: 10px;
    animation: shine 1.8s ease infinite;

}

.gameItem {
    margin: 16px 16px 0px 16px;
}

.gameItem ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.gameItem h3{
    font-size: 22px;
}

.gameItem ul li {
    width: calc(16% - 2px);
    margin: 5px;
}

/* .gameItem ul li:nth-child(2n) {
    margin-left:0;
}

.gameItem ul li:nth-child(2n+1) {
    margin-right: 0;
} */

.gameItem ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px #00000063;
}

.topGame {
    text-align: left;
    margin-bottom: 16px;
    margin-top: 40px;
}




@keyframes shine {
    0% {
        opacity: .6;
        left: 0%
    }

    66% {
        opacity: 1;
        left: 87%
    }

    to {
        opacity: 1;
        left: 87%
    }
}

@media (max-width: 992px) {
    .notFound {
        margin: 0px auto 8px auto;
    }

    .innerSec img {
        width: 90%;
        height: auto;
    }

    .innerSec {
        padding: 16px;
        padding-bottom: 0;
    }

    .notFound h1 {
        margin-bottom: 0;
        font-size: 22px;
        line-height: 28px;
        margin-top: 16px;
    }

    .notFound p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .gameItem ul li {
        width: calc(50% - 6px);
        background: #fff;
        border-radius: 8px;
        margin-bottom: 12px;
        margin: 0;
    }

    .gameItem ul li:nth-child(2n) {
        margin-left: 6px;
    }

    .gameItem ul li:nth-child(2n+1) {
        margin-right: 6px;
    }

    .gameItem {
        margin: 0;
    }

    .gameItem ul li{
        margin-bottom: 12px;
    }

    .gameItem h3{
        font-size: 18px;
    }

}