
.bodyWhite{
    background: #fff;
}
.mainAboutUs {
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 0px auto;
    max-width: 94%;
    width: 100%;
    position: relative;
  }
  
  .wrapper {
    box-shadow: 0 10px 15px #d3d8eb;
    border-top: solid #939393 0px;
    border-radius: 12px;
    align-items: flex-start;
    margin: 0px 0px;
    padding: 16px;
    box-shadow: none;
  }

  .wrapper p{
    font-size: 16px;
    line-height: 24px;
  }

  .wrapper h2{
    font-size: 24px;
    font-weight: bold;
  }
  .wrapper h1{
    font-weight: bold;
    font-size: 24px;
  }

  .miniContainer{
    /* background: #DFD7F9 url(/img/leftGrayGraphics.svg) no-repeat left 0 bottom 0, #DFD7F9 url(/img/grayRightGraphics.svg) no-repeat right 0 top 0, #DFD7F9 url(/img/bgPlusGraphics.svg) no-repeat right 0 bottom 0; */
    max-width: 900px;
    border-radius: 20px;
    background: url(/img/leftGrayGraphics.svg) left -80px bottom -60px no-repeat, url(/img/grayRightGraphics.svg) right top no-repeat, #e9f1ff;

      margin: 40px auto;
      box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
      text-align: center;
      padding: 50px;
      width: calc(900px - 100px);
      
  }
  .miniContainer h2{
    font-size: 34px;
    color: #303242;
    margin: 0px 100px 30px;
  }
  .spacer{
    margin-top: 50px;
  }

  .contentSec{
    max-width: 94%;
    margin: 100px auto;
    display: flex;
    align-items: center;
  }

  .left{
    width: 60%;
  }

  .right{
    width: 40%;
    padding: 0px 0px 0px 100px;
  }
  .rightWithSeperator{
    width: 40%;
    padding: 0px 40px;
  }

  .contentSecDark{
    background: url(/img/bgPlusGraphics.svg) no-repeat right 12px bottom 12px, #0060CD;
    max-width: 94%;
    border-radius: 20px;
    /* background: #0060CD; */
      margin: 80px auto;
      box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
      text-align: left;
      display: flex;
      width: calc(94% - 100px);
      padding: 40px;
      color: #fff;
  }



  .contentSecDark h2{
    font-size: 24px;
  }

  .twoCornor{
    background: rgba(255, 255, 255, 0.96);
    padding: 30px;
    border-radius: 50px 0px;
    color: #000;
    font-size: 18px;
    line-height: 26px;
  }


  .overview {
    width:calc(100% - 100px);
    background: #fff;
    text-align: center;
    padding: 50px;
  }

  .stats {
    margin-left: 0;
}

.stats ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stats ul li {
    font-size: 22px;
    margin-left: 16px;
    padding: 30px 40px;
    flex-wrap: wrap;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boldText{
    font-size: 36px;
    color: #0474fe;
    font-weight: bold;
    margin:8px 0px;
}

.boldTextGreen{
    color: #26c782;
}
.boldTextOrange{
    color: #F27C2C;
}
.imageHolder{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0px 11px rgb(0 0 0 / 19%);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ourMission{
    width: calc(94% - 100px);
    background: #0474fe;
    display: flex;
    padding: 0;
    margin: 100px auto;
    border-radius: 20px;
}

.visionSpacer{
    margin: 200px auto;
}

.ourMission .leftText{
    margin: 0px;
    padding: 40px;
    width: 60%;
    color: #fff;
    margin-right: 80px;
}

.ourMission .leftText.leftspacer{
    margin-right: 0;
    margin-left: 80px;
}

.ourMission .rightImg{
    margin: 0;
    position: relative;
    background: #d3dcef;
    transform: rotate(-28deg);
    border-radius: 20px;
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.ourMission .rightImg img{
    position: absolute;
    top: -50px;
    width: 100%;
    height: auto;
}

.ourMission .rightImg img.vision{
    top: 15px;
    width: 70%;
    height: auto;
}


@media (max-width: 900px) {
    .wrapper{
        padding: 0;
    }
    .wrapper h1{
        font-size: 20px;
    }
    .miniContainer{
        max-width: 100%;
        padding: 16px;
        margin: 16px 8px;
        width: calc(100% - 48px);
    }
    .miniContainer h2{
        margin: 0;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 12px;
    }

    .contentSec{
        flex-direction: column;
        margin: 0px 8px;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .right img{
        max-width: 100%;
    }
    .contentSecDark{
        width: calc(100% - 32px);
        margin: 0;
        max-width: 100%;
        padding: 16px;
        flex-direction: column;
    }
    .rightWithSeperator{
        width: 100%;
        padding: 0px;
        margin: 0 0 30px 0;
    }

    .overview{
        width: calc(100% - 32px);
        padding: 16px;
    }

    .ourMission{
        width: calc(100%);
        padding: 0;
        flex-direction: column;
    }
    .ourMission .leftText{
        width: calc(100% - 32px);
        margin: 0;
        padding: 16px;
    }
    .ourMission .leftText.leftspacer{
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .ourMission .rightImg{
        margin: 0px auto;
        top: 60px;
        width: 180px;
        height: 180px;
        transform: rotate(-41deg);
        padding: 20px;
    }
    .ourMission .rightImg img{
        position: relative;
        transform: rotate(43deg);
        top: 0px;
    }
    .visionSpacer .rightImg{
        top: -40px;
    }
    .ourMission.visionSpacer{
        margin: 40px auto;
    }

}




