
.bodyWhite{
    /* background: #fff; */
    padding: 0;
}
.mainAboutUs {
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 0px auto;
    max-width: 94%;
    width: 100%;
    position: relative;
  }
  
  .wrapper {
    box-shadow: 0 10px 15px #d3d8eb;
    border-top: solid #939393 0px;
    border-radius: 12px;
    align-items: flex-start;
    margin: 0px 0px;
    padding: 16px;
    box-shadow: none;
  }

  .wrapper p{
    font-size: 16px;
    line-height: 24px;
  }

  .wrapper h2{
    font-size: 24px;
    font-weight: bold;
  }
  .wrapper h1{
    font-weight: bold;
    font-size: 24px;
  }

  .miniContainer{
    /* background: #DFD7F9 url(/img/leftGrayGraphics.svg) no-repeat left 0 bottom 0, #DFD7F9 url(/img/grayRightGraphics.svg) no-repeat right 0 top 0, #DFD7F9 url(/img/bgPlusGraphics.svg) no-repeat right 0 bottom 0; */
    max-width: 94%;
    border-radius: 20px;
    background: url(/img/leftGrayGraphics.svg) left -80px bottom -60px no-repeat, url(/img/grayRightGraphics.svg) right top no-repeat, #e9f1ff;
    margin: 20px auto;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.15);
    text-align: center;
    padding: 0px;
    width: calc(100% - 0px);
    margin-top: 20px;
    border: 1px solid #dbe3f1;
    background: #e9f1ff;
  }
  .joinPrograme{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .joinPrograme img{
    margin: 16px 0px 16px 40px;
  }
  .rightBtn{
    width: 200px;
  }
  .miniContainer h2{
    font-size: 24px;
    color: #303242;
    margin: 40px;
    text-align: left;
    width: 45%;
  }
  .spacer{
    margin-top: 50px;
  }

  .joinTheFun{
    text-align: left;
    margin-left: 40px;
    padding-bottom: 40px;
    margin-right: 40px;
  }

  .joinTheFun h2{
    margin-left: 0px;
    margin-bottom: 0;
  }

  .contentSec{
    max-width: 94%;
    margin: 0px auto;
    display: flex;
    align-items: center;
  }

  .joinUsNow {
    width: auto;
    background: #F27C2C;
    color: #fff;
    padding: 12px 32px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 8px;
}

.joinUsNow:hover, .joinUsNow:active, .joinUsNow:focus{
    color: #fff;
}

  .left{
    width: 50%;
  }

  .right{
    width: 40%;
    padding: 0px 0px 0px 100px;
  }
  .rightWithSeperator{
    width: 50%;
    padding: 0px 40px;
    padding-right: 20px;
    margin-top: 16px;
  }

  .contentSecDark{
    background: url(/img/bgPlusGraphics.svg) no-repeat right 12px bottom 12px, #f5f5f5;
    max-width: 94%;
    border-radius: 20px;
    margin: 0px auto;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.15);
    text-align: left;
    display: flex;
    width: calc(94% - 80px);
    padding: 40px;
    color: #000;
    border: 1px solid #eee;
    margin-top: 40px;
  }



  .contentSecDark h2{
    font-size: 22px;
    margin-top: 0;
  }

  .twoCornor{
    background:#005FCD;
    padding: 30px;
    border-radius: 50px 0px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
  }


  .overview {
    width:calc(100% - 100px);
    background: #fff;
    text-align: center;
    padding: 50px;
  }

  .stats {
    margin-left: 0;
}

.stats ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stats ul li {
    font-size: 22px;
    margin-left: 16px;
    padding: 30px 40px;
    flex-wrap: wrap;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boldText{
    font-size: 36px;
    color: #0474fe;
    font-weight: bold;
    margin:8px 0px;
}

.boldTextGreen{
    color: #26c782;
}
.boldTextOrange{
    color: #F27C2C;
}
.imageHolder{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0px 11px rgb(0 0 0 / 19%);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ourMission{
    width: calc(94% - 100px);
    background: transparent linear-gradient(153deg,#d1f1ff 0%,#e6e6fe 100%) 0% 0% no-repeat padding-box;
    margin-right: 10px;
    display: flex;
    padding: 0;
    margin: 0px auto;
    border-radius: 20px;
}

.visionSpacer{
    margin-left: 10px;
    background: transparent linear-gradient(153deg,#fff4e0 0%,#f2f1f0 100%) 0% 0% no-repeat padding-box;
}

.ourMission .leftText{
    margin: 0px;
    padding: 20px 40px;
    width: 100%;
    color: #152236;
    margin-right: 0px;
}

.ourMission p{
    font-size: 16px;
    line-height: 24px;
}

.ourMission .leftText.leftspacer{
    margin-right: 0;
    margin-left: 0px;
}

.ourMission .rightImg{
    margin: 0;
    position: relative;
    background: #d3dcef;
    border-radius: 20px;
    margin: 0;

}

.ourMission .rightImg img{
    position: relative;
    height: auto;
}

.ourMission .rightImg img.vision{
    top: 15px;
    height: auto;
}

.visionMission{
    display: flex;
    width: calc(100% - 80px);
    margin: 0px 40px 40px 40px;
}

.space{
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.establist{
    display: flex;
    flex-direction: column;
}


@media (max-width: 900px) {
    .wrapper{
        padding: 0;
    }
    .wrapper h1{
        font-size: 20px;
    }
    .miniContainer{
        max-width: 100%;
        padding: 16px;
        margin: 16px 16px;
        width: calc(100% - 66px);
        border-radius: 16px;
        position: relative;
        min-height: 130px;
    }
    .miniContainer h2{
        margin: 0;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 12px;
    }

    .joinPrograme{
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        
    }

    .joinPrograme h2{
        width:calc(100% - 110px);
        font-size: 18px;
        line-height: 20px;
        margin-left: 16px;
    }

    .joinPrograme img{
        width: 90px;
        height: 90px;
        margin: 0;
    }
    .joinPrograme .rightBtn .joinUsNow{
        padding: 8px 20px;
        font-size: 14px;
    }

    .rightBtn {
        position: absolute;
        bottom:24px;
        left: 102px;
    }

    .contentSec{
        flex-direction: column;
        margin: 0px 16px;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .right img{
        max-width: 100%;
        height: 300px;
    }
    .contentSecDark{
        width: calc(100% - 32px);
        margin: 0;
        max-width: 100%;
        padding: 16px;
        flex-direction: column;
        border: none;
    }
    .twoCornor{
        border-radius: 16px;
    }
    .rightWithSeperator{
        width: 100%;
        padding: 0px;
        margin: 0 0 30px 0;
    }

    .overview{
        width: calc(100% - 32px);
        padding: 16px;
        padding-top: 0;
    }

    .stats ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }

    .stats ul li{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0;
        width: 100%;
        border-radius: 100px;
        margin-top: 16px;
        margin-left: 8px;
        margin-right: 8px;
        background: #eee;
        border: 1px solid #ddd;
    }
    .boldText{
        font-size: 30px;
        line-height: 24px;
    }
    .imageHolder{
        width: 70px;
        height: 70px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .imageHolder img{
        width: 44px;
    }

    .establist{
        text-align: left;
        margin-left: 16px;
        font-size: 18px;
    }

    .visionMission {
        display: flex;
        width: calc(100% - 40px);
        margin: 20px 20px 0px 20px;
        flex-direction: column;
    }

    .ourMission{
        width: calc(100%);
        padding: 0;
        flex-direction: column;
    }
    .ourMission .leftText{
        width: calc(100% - 32px);
        margin: 0;
        padding: 16px;
    }
    .ourMission .leftText.leftspacer{
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .ourMission .rightImg{
        margin: 0px auto;
        top: 60px;
        width: 180px;
        height: 180px;
        transform: rotate(-41deg);
        padding: 20px;
    }
    .ourMission .rightImg img{
        position: relative;
        transform: rotate(43deg);
        top: 0px;
    }
    .visionSpacer .rightImg{
        top: -40px;
    }
    .ourMission.visionSpacer{
        margin: 40px auto;
    }

    .leftText img{
        height: 250px;
    }

    .joinTheFun{
        margin: 0;
        padding: 0;
        width: calc(100% - 90px);
    
    }
    .joinTheFun p{
        margin-left: 20px;
        font-size: 12px;
        line-height: 18px;
        margin-top: -4px;
    }

    .joinTheFun .joinUsNow{
        margin-left: 20px;
        padding: 8px 32px;
        margin-top: 4px;
        margin-bottom: 8px;
    }
    .joinTheFun h2{
        width: calc(100% - 0px);
    }


}




