@font-face {
  font-family: "Poppins";
  /* src: url('../../public/fonts/Poppins-Regular.eot');
  src: url('../../public/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../public/fonts/Poppins-Regular.woff2') format('woff2'),
      url('../../public/fonts/Poppins-Regular.woff') format('woff'),
      url('../../public/fonts/Poppins-Regular.ttf') format('truetype'),
      url('../../public/fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap; */
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* background: #f5f6f7; */
  background: #eeedf2;
}

@media only screen and (max-width: 900px) {
  body {
    background: #0977f7 url(/img/blueBg_1x.png) left 0 top -90px repeat;
    overflow-x: hidden;
    background-size: auto;
    /* background: url(/img/bg_zig.png) center top repeat;
    background: url(/img/04.jpg) center top repeat-x;
    background: url(/img/bg_box.jpg) center top repeat-x;
    background: url(/img/03.jpg) left -540px top repeat-x;
    background: linear-gradient(rgb(0 8 47 / 50%), rgb(0 8 47 / 50%)), url(/img/newBg.png) right top repeat-x;
    background: linear-gradient(rgb(0 8 47 / 50%), rgb(0 8 47 / 50%)), url(/img/03.jpg) left -540px top repeat-x;
    background: url(/img/bg10.png) left top repeat;
    background: url(/img/bg12.png) left top repeat;
    background: url(/img/bg11.png) left top repeat;
    background: url(/img/bg_33.png) left top repeat;
    background: url(/img/bg_34.png) left top repeat;
    background: url(/img/bg_37.png) left top repeat;
    background: url(/img/bg_35.png) left top repeat;
    background: url(/img/bg_36.png) left top repeat;
    background: url(/img/bg_37.png) left top repeat; 
    background-size: cover;*/
    background-attachment: fixed;
  }
}

h1,
h1 a,
h2,
h2 a,
h3,
h3 a {
  font-family: "Poppins", sans-serif;
}

h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 8px;
}

h6 {
  font-size: 10px;
}

.h1 {
  font-size: 28px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 18px;
}

.h5 {
  font-size: 14px;
}

.h6 {
  font-size: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.main {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #152236;
  text-decoration: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: #0065ff;
  text-decoration: none;
}

.error-msg {
  position: absolute;
  font-size: 11px;
  color: red;
  bottom: -15px;
  right: 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.pos-rel {
  position: relative;
}

.success-msg {
  font-size: 14px;
  color: green;
}

.errorMsg {
  font-size: 14px;
  color: red;
}

.overflowHidden {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.expanCollapseWidget h4 {
  margin: 0;
}

.expanCollapseWidget p {
  margin: 15px 0;
}

.adCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.googleSecondAd {
  text-align: center;
  margin: 15px auto 0;
}

.serverLoader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.serverLoader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

/* .react-tel-input .form-control {
  width: 100%;
  border: 2px solid #b4c4d3;
  border-radius: 5px;
  outline: 0;
  color: #152236;
  padding: 12px 16px;
  display: block;
  font-weight: 500;
} */

.mainHeader {
  background: transparent linear-gradient(180deg, #0358b5 0%, #0b60bf 100%) 0% 0% no-repeat padding-box;
  background: url(/img/04.jpg) center top repeat-x;
  border-radius: 0% 0% 900% 900%;
  /* background: url(/img/bg_zig.png) center top repeat;
  background: url(/img/04.jpg) center top repeat-x;
  background: url(/img/03.jpg) left -540px top repeat-x;
  background: linear-gradient(rgb(0 8 47 / 50%), rgb(0 8 47 / 50%)), url(/img/newBg.png) right top repeat-x;
  background: linear-gradient(rgb(0 8 47 / 50%), rgb(0 8 47 / 50%)), url(/img/banner0.png) left -540px top repeat-x;
  background: url(/img/banner1.png) center top repeat-x;
  background: url(/img/banner2.png) center top repeat-x; */
  background: url(/img/banner0.png) center top repeat-x;
  background: linear-gradient(90deg, #0c1d73 2.76%, #076dee 63.68%) !important;
}

@media (max-width: 900px) {
  .mainHeader {
    /* background: url(/img/banner1_mobi.png) center top repeat-x;
    background: url(/img/banner0_mobi.png) center top repeat-x; */
    /* box-shadow: 0 4px 30px #59cef8; */
    background: linear-gradient(90deg,
        #0c1d73 2.76%,
        #076dee 63.68%) !important;
    background: linear-gradient(90deg,
        #083671 2.76%,
        #3066ab 63.68%) !important;
    background: linear-gradient(90deg,
        #0c1d73 2.76%,
        #0064e3 63.68%) !important;
  }
}

.flag-dropdown {
  border: 2px solid #b4c4d3 !important;
}

.react-tel-input .special-label {
  font-size: 14px;
}

.react-tel-input {
  margin-bottom: 0 !important;
}

/* .mode360{
  transform: rotate(90degs);
} */

#fullScreenGame:fullscreen {
  width: 100%;
  height: 100%;
  background-color: #000;
}

#fullScreenGame:-webkit-full-screen {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.errorModal {
  position: fixed;
  background: #000;
  color: #fff;
  top: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  left: 0;
  right: 0;
}

.blackScreen {
  background: rgba(0, 0, 0, 0.495);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1003;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000d18d2 0% 0% no-repeat padding-box;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

@media only screen and (orientation: landscape) {
  #fullScreenGame iframe {
    width: 100% !important;
  }
}

@media only screen and (orientation: portrait) {
  #c2canvasdiv {
    width: 100% !important;
    height: 214px !important;
    margin-left: 0px !important;
    margin-top: 226px !important;
  }

  #c2canvas {
    width: 100% !important;
    height: 214px !important;
  }
}

.mode360{
  background-color: #000 !important;
}